<div class="left-navigation">
    <div class="company-details">
      <h2>
        <span>
           <img class="logo" src="{{companyLogo}}" />
        </span>
        {{companyName}}
      </h2>
    </div>

    <div  class="status-wrapper">
      <div *ngFor="let name of statusName" class="status-info">
        <span class="status-color" [attr.id]="toRandomStatus()"></span>
        <p>{{name}}</p>
      </div>
    </div>

    <div class="menu-wrapper">
      <a *ngFor="let item of menuItems" [routerLink]="['/home']" class="menu-items">
        {{item}}
      </a>
      <a class="menu-items" [routerLink]="['/support']">SUPPORT</a>
      <a class="menu-items" [routerLink]="['/logout']">LOG OUT</a>
    </div>


  </div>