<div style="text-align: center">
  <img src="/assets/images/connectme_logo1.png" class="logo-image">
</div>
<div style="display: flex; justify-content: center; align-items: center;flex-direction: column;">
  <div style="text-align: left">
    <div class="input-header-text">
      USER NAME
    </div>
    <div>
      <input type="text" class="input-username">
      <span class='warning-text'>Username not found</span>
    </div>
  </div>
  <div style="text-align: left">
    <div class="input-header-text">
      PASSWORD
    </div>
    <div>
      <input type="password" class="input-username">
    </div>
  </div>
</div>
<br>
<div style="display: flex; justify-content: center; align-items: center;">
  <button class="create-username">CREATE USERNAME</button>
  <button class="create-username">LOGIN</button>
</div>
