<div class="device-wrapper">
    <div class="device-info">
      <h3 class="device-name">{{device.Name}}</h3>

  
      <div class="device-details">
        <p class="desc">MAC Address</p>
        <p class="desc"> {{device.MacAddress}}</p> 
      </div> 
      <div class="device-details">
        <p class="desc">Main</p> 
        <p class="desc">{{device.Main}}</p> 
      </div> 
      <div class="device-details">
        <p class="desc">Text</p> 
        <p class="desc"> {{device.Text}}</p> 
      </div> 
      <div class="device-details">
        <p class="desc">CallerId</p> 
        <p class="desc"> {{device.CallerId}}</p> 
      </div> 
      <div class="device-details">
        <p class="desc">Conference</p>
        <p class="desc"> {{device.Conference}}</p> 
      </div> 
      <div class="device-details">
        <p class="desc">Domain</p>
        <p class="desc">{{device.Domain}}</p> 
      </div> 

      <div class="device-details">
        <p class="desc">
          <a href="#" class="hyper-link">Reboot phone</a>
        </p>
      </div>
    </div>

    <div class="device-image">
      <img class="device" alt="device Image" src={{device.ImageUrl}}/>
    </div>

  </div>
