<div class="device-wrapper">
    <div class="device-info">
      <h3 class="device-name">{{device.Name}}</h3>

      <p class="device-details">MAC Address {{device.MacAddress}}</p>
      <p class="device-details">Main {{device.Main}}</p>
      <p class="device-details">Text {{device.Text}}</p>
      <p class="device-details">CallerId {{device.CallerId}}</p>
      <p class="device-details">Conference {{device.Conference}}</p>
      <p class="device-details">Domain {{device.Domain}}</p>
      <p>
        <a href="#" class="hyper-link">Reboot phone</a>
      </p>
    </div>

    <div class="device-image">
      <img class="device" alt="device Image" src={{device.ImageUrl}}/>
    </div>

  </div>
