<div class="person-wrapper">
    <div class="person-info">
      <h3 class="person-name">{{person.name}}</h3>

      <div class="personal">
        <p class="person-details">{{person.position}}</p>
        <p class="person-details">{{person.email}}</p>
      </div>
      <div class="address">
        <p class="person-details">{{person.address.AddressLine1}}</p>
        <p class="person-details">{{person.address.AddressLine2}}</p>
        <p class="person-details">{{person.address.AddressLine3}}</p>
        <p class="person-details">{{person.address.TimeZone}}</p>
      </div>
      <div class="password">
        <p class="person-details">Password {{person.password}}</p>
        <p>
          <a href="#" class="hyper-link">Reset Password</a>
        </p>
      </div>

    </div>

    <div class="person-image">
      <img class="person" alt="Person Image" src={{person.imageUrl}}/>
    </div>

  </div>
